body{
  margin:0px;
  text-align: center;
  font-family: 'Merriweather', serif;

}
h1{
  font-size:50px;
  margin-top:0;
  font-family: 'Sacramento', cursive;
  color:#66BFBF;
  line-height:1;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size:1.5rem;
  margin:0 auto 0 auto;
  color:#66BFBF;
  font-weight:normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}
p{
  font-family: 'Montserrat', sans-serif;;
}
div{
background-color: white;
}
.top-container{
  background-color:#EAF6F6;
  padding-top:0;
}
.middle-container
{
  line-height:2
}
.bottom-cloud{
  position:absolute;
  left:300px;
  bottom:350px;
}
.top-cloud{
  position: relative;
  left:250px;
  padding-top:50px;


}
.skill-row{
width :50%;
margin:50px auto 100px auto;
text-align:left;
line-height:2;
}
.up-image{
  width:25%;
  float: left;
  margin-right:30px;

}
.bottom-image{
  width:25%;
  float:right;
  margin-left: 30px;
}
.pro{
  text-decoration:underline;}

  .profile{
    margin:50px auto 50px auto;
  }
hr{
  border-color: #EAF6F6;
  border-style:none;
  border-top-style:dotted;
  border-width:5px;
  width:5%;

}
.my-skills{
margin-top: 50px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 8px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.contact-me{
    margin: 50px auto 50px auto;
}
.bottom-container{
  background-color:#66BFBF;
padding-top: 50px;
padding-bottom: 20px;
}
a{
  color: #11999E;
font-family: 'Montserrat', sans-serif;
margin:10px 20px;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  font-size:0.75rem;
  padding:10px 0; 
}
